
body{
    /* background-image: url("/images/pankaj-patel-eygpU6KfOBk-unsplash.jpg"); */
    background-color:wheat;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin:0px;
    padding:0px;   
    font-family: 'Lato', sans-serif;
}
.responsive {
    max-width: 100%;
    height: auto;
  }
  
  *{
    
      box-sizing:border-box;
  }
  @media(max-width:768px){
      header nav img{
          display: none;
      }
      hr{
        background-color:white;
    }
    .navbar-brand h1{
        font-size: 40px;
    }
  }
  body header nav img{
      margin-left:10px;
      width:150px;
      height:150px;
    }
    
  header nav{
        /* background:url("/images/headerbackground3.jpg") no-repeat; */
        background-size: cover;
        }
.navbar-brand h1{
    text-transform: uppercase;
    font-weight: bold;
    color:blue;
    font-family:'Times New Roman', Times, serif;
    text-shadow:1px 2px 2px;
}

.navbar-nav a{
    font-weight: bold;
    margin-left: 30px;
}
.navbar-nav a:hover{
    background-color:skyblue;
     border-radius:5px;
}

.dropdown-item:hover{
    width:250px;
    color:blue;
}

.prog{
    width:280px;

}

.btn{
    color:#000;
}
nav{
    border-radius:10px;
}
.jumbotron{
    /* background:url("/images/jumbotron.jpg") repeat-y; */
    height:100%;
    background-size: cover;
    box-shadow:1px 3px 3px 3px thistle;
    margin-bottom:0px;
 }
 .panel-footer{
     background-color:#000;
     color:whitesmoke;
     text-align:center;
     padding-top:10px;
     margin-top:30px;
 }
 #italic{
     font-style: italic;
     color:orange;
     border:5px; 
     box-sizing:border-box;
     border-radius:10px;
 }
 .instagram img{
     background-color: white;
     width:30px;
     height:30px;
     margin-right:5px;
     margin-top:5px;
 }
 .facebook img{
    background-color: white;
    width:30px;
    height:30px;
    margin-right:5px;
    margin-top:5px;
}  
.content{
    /* background:url("/images/content2.jpg") no-repeat; */
    background-color: white;
    background-size: cover;
    border:5px black;
    box-shadow: 3px 3px 3px 2px whitesmoke;
    width:100%;
    padding:10px;
    margin-top:20px;
    margin-bottom:20px;
}  
.photo li img{
    width:180px;
    height:130px;
}

.headings{
    font-size:30px;
}

li{
    font-size:17px;
    margin:10px auto 10px auto;
}

.dp{
    height:550px;
    width:300px;
    text-align:left;
}



.about{
    background-color:whitesmoke;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    box-shadow:2px 2px 2px 1px whitesmoke;
}
section{
    
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.author h3,h5{
    color:black;
    font-weight: bold;
}
.author img{
    width:200px;
    height:200px;
}

.about-section{
    padding:40px;
}

.topics-1{
    background-color: whitesmoke;
    
}
.row1{
    padding-top:40px;
}
.row{
   padding-left:100px;
   padding-bottom: 20px;
}
/*for gettingstart page*/
.gettingstart{
    background-color:whitesmoke;
    padding:30px;
    box-shadow: 2px 2px 3px pink;
}
#programs{
    color:palevioletred;
    padding-left:20px;
}
/* for c++syntax page*/
#syntax{
    background-color:whitesmoke;
    padding:30px;
    box-shadow: 2px 2px 3px pink;
    font-size:18px;

}

.table-cont{
    padding-top:10px;
    padding-bottom:10px;
}
.arr-cont{
    padding:10px;
}

.img-wrap{
    max-width:100%;
    height:auto;
}

.img-wrap>.arr-img{
    max-width:100%;
    height:auto;
    padding:auto;
}

.img-cont{
    height:100%;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

/*for variable and datatype*/
.variables{
    background-color: whitesmoke;
    padding:10px;    
}
table,th,td{
    border:1px solid black;
    border-collapse:collapse;
    padding:10px;
}
.imgc{
    max-width:100%;
    height:auto;
}
/*for ifelse.html*/
.ifelse{
    background-color: whitesmoke;
    padding:10px;
}
/*for loops.html*/
.loops{
    background-color: whitesmoke;
    padding:10px;
}
/*for continue and break statement*/
.bandc{
    background-color: whitesmoke;
    padding:10px;
}
/*for switch case*/
.switch{
    background-color: whitesmoke;
    padding:10px;
}
/*for function*/
.function{
    background-color:whitesmoke;
    padding:10px;
}
/*for previous and next button*/
.r1{
    background-color:blue;
    color:white;
    box-sizing: border-box;
    border-radius: 3px;
    padding-top:7px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 7px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left:10px;
}
.r2{
background-color:blue;
color:white;
box-sizing: border-box;
border-radius: 3px;
padding-top:7px;
padding-left: 10px;
padding-right:10px;
padding-bottom: 7px;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
position:absolute;
right:10px;
}
a:hover{
    background-color: wheat; 
    text-decoration: bold;
}
/*programs*/
i{
    color:red;
}

.image-container{
    text-align: center;
}
.image-container img{

    height:50%;
    width:60%;
}





